{% include 'header.html' %}

<!-- collections -->
<div class="row">
	<div class="twelve columns">
		<p><a href="/twitore/create_collection">Create Collection</a></p>

		<table class="u-full-width">

			<tr>
				<td><strong>Collection Name</strong></td>
				<td><strong>Tweet Count</strong></td>				
				<td><strong>Actions</strong></td>
			</tr>		

			{% for c in data %}
				<tr>
					<td>{{c.name}}</td>
					<td>{{c.count}}</td>					
					<td>
						<ul class="inline">
							<li><a href="/twitore/collection/{{c.name}}">edit</a></li>
							<li><a href="/twitore/search/{{c.name}}">fire search</a></li>
							<li><a href="/twitore/collection/{{c.name}}/tweets/1">view tweets</a></li>
						</ul>
					</td>
			{% endfor %}

		</table>

	</div>
</div>

{% include 'footer.html' %}